body{
    margin: 0;
}
.header-menu{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}
.header-button{
    display: inline;
}
.header-link{
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    margin-right: 72px;
}
.img{
    width: 100%;
    height: 900px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 49px;
}
.main-article{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    color: #373737;
    margin-bottom: 38px;
}
.main-text{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-bottom: 66px;
}
.footer-button{
    text-align: center;
}
.button{
    text-align: center;
    text-transform: uppercase;
    padding: 18px 43px;
    background: #FF0000;
    border-radius: 4px;
    border-color: #FF0000;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    margin-bottom: 82px;
}
.copyright{
    text-align: end;
    margin-right: 105px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}
